*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-image: url(https://cdn.pixabay.com/photo/2017/03/29/11/29/nepal-2184940_1280.jpg);
}
nav{
    background-color: #34eb37;
    height: 40px;
    width: 100%;
}
nav a:hover{
    color: red;
}
h1{
    background-color: highlight;
}